@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
  background-color: #f6f7fb;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.navbar-input {
  width: 100%;
  background-color: rgba(235, 239, 238, 0.9);
  padding-left: 3%;
  padding-right: 3%;
  font-size: 0.875rem;
}
/* sorry zolboo uchriin olchooroi (tiirsen bolno) */
.mantine-1jkn80x:not([data-disabled]):hover {
  background-color: #f1b861 !important;
}
.radio-button .mantine-1fbks7c[data-checked] {
  padding: 0 !important;
}

.mantine-1phcupv thead tr th {
  padding: 15px 10px !important;
}

.radio-button .mantine-1fbks7c {
  display: flex;
  justify-content: center;
  width: 30px !important;
  height: 30px !important;
  padding: 0;
}

.radio-button .mantine-1rzfdiy {
  width: auto;
}

.radio-button .mantine-yxmaw9 {
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-img {
  width: 80%;
  height: 80%;
}
.bundle-img {
  width: 60%;
  height: 60%;
  object-fit: fill;
}

.product-card-img {
  width: 100%;
  height: 40%;
  object-fit: contain;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}