@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ::-webkit-scrollbar {
    width: 0.7rem;
    height: 20px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(168, 168, 168);
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #f1b13a !important;
}

.swiper-button-prev {
  background-color: #f1b13a;
  border-radius: 999px;
  height: unset !important;
  width: unset !important;
  padding: 0.6rem 0.8rem;
}
.swiper-button-prev::after {
  font-size: 0.7rem !important;
  font-weight: bold;
  color: white;
}
.swiper-button-next {
  height: unset !important;
  width: unset !important;
  background-color: #f1b13a;
  /* opacity: 1; */
  border-radius: 999px;
  padding: 0.6rem 0.8rem;
}
.swiper-button-next::after {
  font-size: 0.7rem !important;
  font-weight: bold;
  color: white;
}
@media all and (max-width: 768px) {
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}
/* sorry zolboo uchriin olchooroi (tiirsen bolno) */
.mantine-1jkn80x:not([data-disabled]):hover {
  background-color: #f1b861 !important;
}
.radio-button .mantine-1fbks7c[data-checked] {
  padding: 0 !important;
}

.nextui-c-lfcDHB {
  padding: 1rem 0 1rem 0 !important;
}

.nextui-c-fMAxGR {
  padding-bottom: 0 !important;
}

.mantine-1phcupv thead tr th {
  padding: 15px 10px !important;
}

.radio-button .mantine-1fbks7c {
  display: flex;
  justify-content: center;
  width: 30px !important;
  height: 30px !important;
  padding: 0;
}

.radio-button .mantine-1rzfdiy {
  width: auto;
}

.radio-button .mantine-yxmaw9 {
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-img {
  width: 80%;
  height: 80%;
}
.bundle-img {
  width: 60%;
  height: 60%;
  object-fit: fill;
}

.product-card-img {
  object-fit: contain;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.image-container {
  width: 20rem;
  height: 20rem;
}

.image-container > div {
  position: unset !important;
}
.image-container image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.map-responsive {
  width: 450px;
  height: 350px;
}

#profile-button {
  width: calc(50% - 0.8rem);
}
@media screen and (max-width: 480px) {
  .radio-button .mantine-1fbks7c {
    width: 25px !important;
    height: 25px !important;
  }
  .mantine-1phcupv thead tr th,
  .mantine-1phcupv tfoot tr th,
  .mantine-1phcupv tbody tr th {
    padding: 0.325rem 0.325rem !important;
  }
  .mantine-1phcupv tbody tr td {
    padding: 0.325rem 0.325rem !important;
  }
  .magni-mobile {
    width: 40px !important;
    height: 40px !important;
  }
}

@media screen and (max-width: 640px) {
  #profile-button {
    width: calc(100%);
  }
}

.profile-icon :hover {
  color: "white";
}
#scroll::-webkit-scrollbar {
  height: 4px;
}

.chevron {
  background-color: red;
}

.mantine-1oy32v8[data-active] {
  background-color: transparent !important;
}
